<table class="table table-bordered" style="color: white;">
    <thead>
        <tr>
            <th colspan="3" class="text-center">
                Shopping cart
            </th>
        </tr>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% if request.session.cart.items %}
            {% for key, value in request.session.cart.items %}
                <tr class="text-center">
                    <th>{{value.name}}</th>
                    <th>{{value.quantity}}</th>
                </tr>

            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">
                    <div class="alert-danger text-center">
                        It's empty
                    </div>
                </td>    

            </tr>
        {% endif %}
    </tbody>
</table>