{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}
<!-- Heading -->
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/principal.jpg' %}"
        alt="" />
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Punctuality</span>
          <span class="section-heading-lower">The best products</span>
        </h2>
        <p class="mb-3">
          In your house door in less than 48 hours with normal delivery. In less than 24 hours with express delivery.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Message -->
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Full commitment</span>
            <span class="section-heading-lower">Guaranteed</span>
          </h2>
          <p class="mb-0">
            With more than 75 years of experience in our backs, from this store we have the knowledge
            and tools needed to take any product to your home with punctuality and professionalism.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}